@import '~bootstrap/dist/css/bootstrap.css';
@import './global-header.css';
@import './dashboard.css';
@import './global-footer.css';
@import './home.css';
@import './login.css';
@import './edit-dashboard.css';


.fs-10 {
    font-size: 10px;
}
.fs-20 {
    font-size: 20px;
}
.pl-10 {
    padding-left: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.margin-10 {
    margin: 10px;
}
.margin-5 {
    margin: 5px;
}
.border-solid-black {
    border: solid 1px #0c0c0c;
}
.h-200 {
    height: 200px;
}